/* Default Light Mode */
:root {
  --nav-text: #1b1a1a;
  --start-text: black;
  --bg-image: url("../../public/bg-white.png");
  --btn-bg: transparent;
    --btn-text: black;
    --btn-border: black;
}

/* Dark Mode */
body.dark-mode {
  --nav-text: #ffffff;
  --start-text: white;
  --bg-image: url("../../public/bg-dark.png");
  --btn-bg: transparent;
    --btn-text: white;
    --btn-border: white;
}

/* Apply Background Image Responsively */
body {
  box-sizing: border-box;
  background: var(--bg-image) no-repeat center center / cover;
  min-height: 100vh;
  width: 90%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
   
}

/* Fix Background Scroll Issues */
@media (max-width: 768px) {
  body {
    background-size: cover;
    background-position: top;
  }
}


.theme-toggle {
  position: absolute; /* Make sure it's positioned relative to the navbar */
  top: 17px; /* Align properly with navbar */
  right: 20px; /* Adjust right spacing */
  width: 54px; /* Square box */
  height: 40px; /* Square box */
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  background: var(--nav-bg); /* Background same as navbar */
 
  cursor: pointer;
  font-size: 50px;
  color: var(--nav-text);
  z-index: 1100; /* Ensure it's always above content */
  transition: background 0.3s ease-in-out;
}

.theme-toggle:hover {
  background: var(--primary-color); /* Highlight on hover */
  /* color: white; */
}

 