.container {
  width: 100%;
  margin: 20px 10px 50px 40px;
  padding: 20px;
  /* border: 1px solid #ccc;
  border-radius: 5px; */
  display:flex;
  flex-direction: column;
  text-align: center;
}

h2 {
  text-align: center;
  /* color:white; */
  color: var(--feedback-texth3);
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0 10px 20px;
  display: flex;
  justify-content: flex-start;
  color: var(--feedback-label);
}

.inputfield,
textarea,
select {
  width: 100%;
  padding: 10px;
  background: none;
  margin-bottom: 15px;
  border: 1px solid;
  border-color: var(--feedback-border);
  border-radius: 10px;
  font-size: 13px;
  color: var(--feedback-select);
   
}
select placeholder {
  color: #007bff;
}
select option {
  background-color: #ffffff; /* Dark background for options */
  color: white;
}
.inputfield:focus,
textarea:focus,
select:focus {
  border-color: #007bff;
  outline: none; /* Removes default browser outline */
}

.buttonsubmit {
  display: block; /* Ensures it takes full width */
  margin: 20px auto;
  /* width: 400px; */
  border-color: var(--feedback-border);
  /* background-color: #007bff; */
  margin-top: 20px;
  /* color: white; */
  padding: 10px;
  border: 1px solid ;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
  align-items: center;
   
}

.buttonsubmit:hover {
  background-color:#fdca00dc;
   
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
     
    transition: margin-top 0.3s ease-in-out;
    margin-top: 10%;
    margin-bottom: auto;
    margin-left: 15px;
    padding: 10px;
     
  }

  .container.nav-open {
    margin-top: 30%; /* Increase margin when nav is open */
    
  }

}