.container {


  width: 100%;
  margin: 50px 10px 90px 70px;
  padding: 20px;
  /* border: 1px solid #ccc;
  border-radius: 5px; */
  display:flex;
  flex-direction: column;
  text-align: center;
}

h2 {
  text-align: center;
  /* color:white; */
  color: var(--feedback-texth3);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0 10px 20px;
  display: flex;
  justify-content: flex-start;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  background: none;
  margin-bottom: 15px;
  border: 1px solid;
  border-color: var(--feedback-border);
  border-radius: 25px;
  font-size: 16px;
}
select option {
  background-color: #444; /* Dark background for options */
  color: white;
}
input:focus,
textarea:focus,
select:focus {
  border-color: #007bff;
  outline: none; /* Removes default browser outline */
}

.buttonsubmit {
  display: block; /* Ensures it takes full width */
  margin: 20px auto;
  /* width: 400px; */
  border-color: var(--feedback-border);
  /* background-color: #007bff; */
  margin-top: 20px;
  /* color: white; */
  padding: 10px;
  border: 1px solid ;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
  align-items: center;
  transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
}

.buttonsubmit:hover {
  /* background-color:#FDC900; */
  background: linear-gradient(to right, black 50%, blue 50%);
  background-size: 200% 100%;
  background-position: left bottom;
   
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    max-width: 450px;
     
    margin: 15px auto 15px 30px;
  }
}