/* General Layout */
.tech-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    background:transparent;
    color: whitesmoke;
    margin-top: 20%;
     
  }
  
  /* Left Section */
  .left-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Box Styling */
  .box {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.795);
    padding: 20px;
    border-radius: 26px;
    width: 620px;
    
  }
  
  .box h2 {
    font-weight: 700 ;
    color: var(--tech-text);
  }

  .box p{
    font-weight: 300;
    color: var(--tech-text);
  }
  .box ul li{
    font-weight: 300;
    color: var(--tech-text);
  }
  /* Highlight Text */
  .highlight {
    color: #4fc3f7;
    font-weight: bold;
  }
  
  /* Tech Stack Section */
  .tech-box {
    width: 350px;
    max-height: 650px;
  }
  
  .categories {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
  
  .categories h3 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .categories img {
    width: 37px;
    height: 40px;
    margin-right: 10px;
    filter: brightness(0.8);
    transition: transform 0.2s ease-in-out;
  }
  
  .categories img:hover {
    transform: scale(1.1);
  }
  
  /* Responsive */
   
  @media (max-width: 1024px) {
    .tech-container {
        flex-direction: column;
        align-items: center;
    }

    .left-section {
        width: 100%;
        min-width: auto;
    }

    .box {
        /* width: 95%; */
        width: 450px;
        margin: auto  ;
    }
    .box h2 {
      /* font-weight: 100 ; */
      font-size: 1.125rem;
      color: var(--tech-text);
    }
  
    .box p{
      font-weight: 150;
      color: var(--tech-text);
    }
    .box ul li{
      font-weight: 150;
      color: var(--tech-text);
    }
    /* Highlight Text */
    .highlight {
      color: #4fc3f7;
      font-weight: bold;
    }

    .tech-box {
        width: 100%;
        max-width: 700px;
        margin-top: 20px;
    }

    .categories {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .categories img {
        margin: 5px;
    }
}