body {
  background-color: #f3f3f3;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.qr-container {
  margin-top: 15px;
  margin-left: 50px;
  width: 225px;
  height: auto;
  align-content: center;
}
.qr-container .qr{
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 30px;
  border: black 1px solid;
  border-radius: 10px ;
}

  .download-button {
    margin-top: 20px;
    text-align: center;
}